<!DOCTYPE html>
<html>
    <head>
        <title>Menu:</title>
    </head>
    <body>
    <h1>Menu:</h1>
    <a href="{{ url_for('search_employees_by_date_of_birth') }}">Search Employees by Date of Birth</a><br>
    <a href="{{ url_for('show_departments_and_avg_salary') }}">Show Departments by Average Salary</a><br>
    </body>
</html>