<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments and average salary</title>
</head>
<body>

<h1>Departments and average salary</h1>

{% block content %}
<table>
<tr>
    <td><b>Department ID</b></td>
    <td><b>Department Name</b></td>
    <td><b>Average Salary</b></td>
</tr>
{% for row in result %}
    <tr>
        <td>{{ row['id'] }} </td>
        <td>{{ row['name'] }} </td>
        <td>{{ row['avg_salary'] }}</td>
    </tr>

{% endfor %}
    </table>

{% endblock %}

</body>
</html>