<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Employee by Date of Birth</title>
</head>
<body>
<h1>Search Employee by Date of Birth</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.from_date.label }}{{ form.from_date(size=16) }}

        {% for error in form.from_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.to_date.label }}{{ form.to_date(size=16) }}
        {% for error in form.to_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>

</form>
</body>
</html>