<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>Search Employee by Date of Birth</h1>

<table>
<tr>
    <td><b>First Name</b></td>
    <td><b>Last Name</b></td>
    <td><b>Department Name</b></td>
    <td><b>Salary</b></td>
    <td><b>B-day</b></td>
</tr>
{% for row in result %}
<tr>
    <td>{{ row['first_name'] }}</td>
    <td>{{ row['last_name'] }}</td>
    <td>{{ row['name'] }}</td>
    <td>{{ row['salary'] }}</td>
    <td>{{ row['date_of_birth'] }}</td>
</tr>

{% endfor %}
</table>

{% endblock %}
</body>
</html>